/*
				Materilarc
*/

//Sub files 
	@import 'colors';

body
{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', Arial, serif;
}

//Flexbox Grid system 
@import 'grid_system';

//Form Inputs stylling
@import 'inputs';

//Material design cards
@import 'cards';